name: EPG Generator

on:
  workflow_dispatch:    # Manual run
  schedule:
    - cron: "0 */6 * * *"   # Every 6 hours

jobs:
  build_epg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests pytz

      - name: Run EPG generator
        run: |
          python epg.py

      - name: Compress XML to XML.GZ
        run: |
          gzip -f epg.xml

      - name: Commit and push results
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "EPG auto-update"
          file_pattern: "*.xml.gz"
